$fontsize: 70px;
@function image-url($url) {
    @return 'url("static/static/imgs/"' + $url + '")';
}

.img-box {
  background: url('../../static/imgs/autumn.jpg') no-repeat;
  background-size: cover;
  width: 150px;
  height: 100px;
  margin: 10px auto;
}

.hello-world {
  margin: 200px 0;
  font-size: $fontsize;
  text-align: center;
  //background-image: image-url('autumn.jpg');
}

.hello-world__i {
  display: inline-block;
  animation: rotate 4000ms infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
